@font-face {
  font-family: 'CirceBold';
  src: url('fonts/circe-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('fonts/circe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Убираем горизонтальный скроллинг */
  background-color: #f4f1e8;
  font-family: 'CirceBold', sans-serif;

  scrollbar-width: none; /* Скрываем скроллбар в Firefox */
  -ms-overflow-style: none; /* Скрываем скроллбар в IE и Edge */
}

/* Для WebKit (Chrome, Safari, Opera) */
body::-webkit-scrollbar {
  display: none;
}

/* Заголовок */
.header {
  position: relative;
  width: 100%;
}

.logo {
  position: absolute;
  left: 24px;   /* Отступ слева */
  top: 24px;    /* Отступ сверху */
  width: 97px;
  height: 47px;
}

.site-url {
  font-family: 'Circe', sans-serif;
  position: absolute;
  right: 24px; /* Отступ справа */
  top: 47.5px; /* 42px + 47px/2, то есть центр изображения */
  transform: translateY(-50%); /* Смещаем текст, чтобы его центр совпал с top */
  font-size: 18px;
}

/* Сумма */
.sum-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 85px;
  padding: 0 24px;
}

.sum-label,
.sum-amount {
  font-size: 30px;
}

.currency {
  font-size: 22px;
}

/* Полоса разделения */
.divider {
  height: 3px;
  margin: 7px 24px 0 24px;
  background-color: #1A0B46;
}

/* Перевод по реквизитам */
.payment-text {
  font-size: 20px;
  margin: 7px 0 0 24px;
}

.transfer-info {
  font-size: 17px;
  color: #537459;
  margin: -4px 0 0 24px;
}

/* Реквизиты */
.custom-block {
  height: 345px;
  margin: 15px 24px 0 24px;
  border-radius: 9px;
  background-color: #fff;
  padding-top: 20px; /* Отступ от верхнего края блока */
}

.account-info {
  margin-left: 20px;
}

.account-label,
.account-number {
  font-size: 18px;
  display: block;
}

.amount-label {
  font-size: 18px;
  display: block;
  margin-top: 15px;
}

.amount-number {
  font-size: 18px;
  display: block;
  font-family: 'Circe', sans-serif;
  color: #46494F;
}

.account-number {
  font-family: 'Circe', sans-serif;
  color: #46494F;
}

.account-number-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copy-icon {
  width: 15px;
  height: 15px;
  margin-right: 30px;
  cursor: pointer;
}

.copy-icon2 {
  width: 15px;
  height: 15px;
  margin-right: 30px;
  cursor: pointer;
}

/* Кнопка Подтвердить */
.confirm-button {
  height: 55px;
  margin: 38px 30px 0 30px;
  background-color: #0d6efd;
  border-radius: 9px;
  color: #fff;
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Текст под кнопкой */
.confirmation-text {
  font-family: 'Circe', sans-serif;
  font-size: 11px;
  color: #46494F;
  text-align: center;
  margin-top: 8px;
}

/* Полоска СБП */
.color-strip {
  height: 4px;
  margin: 24px 24px 0 24px;
  background: linear-gradient(to right,
    #8f4794 0%, #8f4794 5%,
    #5b57a2 5%, #5b57a2 10%,
    #0698d6 10%, #0698d6 20%,
    #00853f 20%, #00853f 34%,
    #78b72a 34%, #78b72a 54%,
    #f9b429 54%, #f9b429 65%,
    #ef8019 65%, #ef8019 82%,
    #e40646 82%, #e40646 95%,
    #8f4794 95%, #8f4794 100%);
}

/* Охрана авторского права*/
.footer-text {
  font-family: 'Circe', sans-serif;
  font-size: 11px;
  color: #46494F;
  text-align: center;
  margin-top: 11px;
  margin-bottom: 50px;
}






















